@import url("https://fonts.cdnfonts.com/css/happy-memories");
@import url("https://fonts.cdnfonts.com/css/iqos");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.flex-centralizer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-starter {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-ender {
  display: flex;
  justify-content: end;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.lhu-link {
  display: inline-block;
}
.lhu-link::after {
  content: "" !important;
  display: block;
  width: 0;
  height: 2px;
  background: #83b735;
}
.lhu-link:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.sides-lines {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0.1em;
}
.sides-lines span {
  background: azure;
  padding: 0 10px !important;
}

.font-happy {
  font-family: "Happy Memories", sans-serif !important;
}

/* ......................................browser........................................... */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(240, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* ......................................classes........................................... */
.non-st * {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}
.non-st-single {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.text-size-sssz * {
  font-size: 0.1rem !important;
}
.text-size-sss * {
  font-size: 0.25rem !important;
}
.text-size-ss * {
  font-size: 0.5rem !important;
}
.text-size-s *, footer p *,
footer i *,
footer li a *,
footer span * {
  font-size: 0.75rem !important;
}
.text-size-m * {
  font-size: 1rem !important;
}
.text-size-x * {
  font-size: 1.25rem !important;
}
.text-size-xx * {
  font-size: 1.5rem !important;
}
.text-size-xxx * {
  font-size: 1.75rem !important;
}
.text-size-xxxx * {
  font-size: 2rem !important;
}
.text-size-xxxxx * {
  font-size: 2.25rem !important;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.3s;
  font-family: "Lato", sans-serif;
}

body {
  background-color: azure;
}

a {
  text-decoration: none;
  color: Black;
  font-size: 0.75rem;
  font-weight: 600;
}
a:hover {
  color: rgba(0, 0, 0, 0.8);
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none !important;
  display: block;
}

button {
  background-color: #83b735 !important;
  padding: 10px 25px !important;
  border: 0 !important;
  color: azure !important;
}
button:hover {
  background-color: rgba(131, 183, 53, 0.8235294118) !important;
}

strong {
  color: #83b735;
}

.bg-primary {
  background-color: #83b735 !important;
}
.bg-dark {
  background-color: Black !important;
}

.text-primary {
  color: #83b735 !important;
}

.border-black {
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.border-light {
  border-color: rgba(240, 255, 255, 0.2) !important;
}

.card {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
}

h1 {
  font-weight: 600 !important;
}

h2 {
  font-weight: 600 !important;
}

h3 {
  font-weight: 600 !important;
}

h4 {
  font-weight: 600 !important;
}

h5 {
  font-weight: 600 !important;
}

h6 {
  font-weight: 600 !important;
}

nav:first-child * {
  font-size: 12px;
}
nav:first-child p {
  color: azure !important;
}
nav:first-child a {
  color: azure !important;
}
nav:first-child a:hover {
  color: rgba(240, 255, 255, 0.7) !important;
}
nav img {
  width: 90%;
}
nav button {
  background-color: transparent !important;
  padding: 0 0 !important;
  color: Black !important;
}
nav button:hover {
  background-color: transparent !important;
  color: Black;
}

.header-categories h5 {
  background-color: #83b735;
  width: 100%;
}
.header-categories ul {
  width: 100%;
}
.header-categories ul li {
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
}
.header-categories ul li:hover {
  background-color: rgba(240, 255, 255, 0.7);
}
.header-categories ul li a {
  width: 100%;
  display: block;
}

.header-slider {
  color: azure;
  height: inherit;
}
.header-slider * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header-slider-item {
  background-size: cover;
  position: absolute;
  width: 95%;
  right: 0;
  height: 100% !important;
}
.header-slider-item-1 {
  background-image: url(../img/slider/slider-1.jpg);
}
.header-slider-item-2 {
  background-image: url(../img/slider/slider-2.jpg);
}
.header-slider-item-3 {
  background-image: url(../img/slider/slider-3.jpg);
}
.header-slider-radio {
  position: absolute;
  z-index: 99;
  left: 50%;
  height: 10px !important;
  bottom: 5%;
  accent-color: rgb(255, 255, 255);
}
.header-slider-radio input[type=radio] {
  height: 20px;
  aspect-ratio: 1;
  padding: 2px !important;
  background: rgba(0, 0, 0, 0.5) no-repeat content-box;
  border-radius: 50%;
  outline-offset: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.5s;
}
.header-slider-radio input[type=radio]:checked, .header-slider-radio input[type=radio]:hover {
  border-color: Black;
  background-color: azure;
  border: 1px solid azure;
  padding: 5px !important;
  background-size: 5% 5%;
}
@media print {
  .header-slider-radio {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}
.header-slider button {
  border-radius: 100px;
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0.5;
  }
  20%, 80% {
    opacity: 1;
  }
}
.header-slider-item {
  display: none;
  animation: fadeIn 2s ease-in-out infinite;
}

.header-slider-item.active {
  display: flex;
}

.threebox {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.threebox:hover .threebox-image-content {
  transform: scale(1.1);
}
.threebox-box {
  width: 86%;
}
.threebox-image {
  overflow: hidden;
  width: 100%;
  height: 80%;
}
.threebox-image-content {
  -o-object-fit: cover;
     object-fit: cover;
}
.threebox-content * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.threebox-content-event {
  color: #83b735;
  font-size: 0.8rem;
}
.threebox-content-title {
  font-weight: 700;
}
.threebox-content-links {
  border-width: 2px !important;
  border-color: #83b735 !important;
  font-weight: 600;
  font-size: 0.8rem;
}

.categories {
  position: relative;
  height: 400px;
}
.categories-banner {
  background-image: url("../img/categories/cat-fashing-dress-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: inherit;
}
.categories-title {
  position: absolute;
  color: azure;
  height: inherit;
  width: 96%;
  background-color: transparent;
}
.categories-title:hover {
  color: azure;
}
.categories-title-stock {
  margin-top: 50px !important;
  display: none;
  transition: all 0.3s !important;
}
.categories-title:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.categories-title:hover .categories-title-stock {
  display: block !important;
  margin-top: 10px !important;
}

.reviews {
  background-image: url(../img/backgrounds/bg-reviews.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: azure;
  text-align: center;
}
.reviews h4 {
  font-weight: 700;
  font-size: 2.5rem;
}
.reviews button {
  background-color: transparent !important;
  position: absolute !important;
}
.reviews button:hover, .reviews button:focus {
  background-color: transparent !important;
}

.slick-slide img {
  display: inline;
}

.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.slick-dots li button:before {
  color: rgba(240, 255, 255, 0.7) !important;
  font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
  color: azure !important;
}

.news-card {
  height: 320px;
}
.news-card-banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.news-card-banner-img {
  background-image: url(../img/news/blog-fashing-15.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
.news-card-banner-mask {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.news-card-banner-mask span {
  position: relative;
  font-size: 5rem;
  color: rgba(240, 255, 255, 0.7);
  left: 40%;
  top: 20%;
}
.news-card-banner-date {
  position: absolute;
  background-color: azure;
  text-align: center;
  font-size: 24px;
}
.news-card-banner-date span {
  font-weight: 600;
  font-size: 12px;
}
.news-card-banner:hover .news-card-banner-mask {
  opacity: 1;
}
.news-card-banner:hover .news-card-banner-img {
  transform: scale(1.05);
}
.news-card-content {
  text-align: center;
}
.news-card-content-categories {
  background-color: #83b735;
  padding: 4px 8px !important;
  color: azure;
}
.news-card-content-categories a {
  color: azure !important;
}
.news-card-content-categories a:hover {
  color: rgba(240, 255, 255, 0.7) !important;
}
.news-card-content-readmore {
  color: #83b735;
}
.news-card-content-readmore span {
  opacity: 0;
}
.news-card-content-readmore:hover {
  color: rgba(131, 183, 53, 0.8235294118);
}
.news-card-content-readmore:hover span {
  opacity: 1;
}
.news-card-author a {
  color: rgba(0, 0, 0, 0.8) !important;
}
.news-card-author a:hover {
  color: Black;
}

.social-btn {
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
}
.social-btn-facebook:hover {
  background-color: #3b5999;
  border-color: #3b5999;
}
.social-btn-facebook:hover * {
  color: azure;
}
.social-btn-twitter:hover {
  background-color: #55acee;
  border-color: #55acee;
}
.social-btn-twitter:hover * {
  color: azure;
}
.social-btn-pintrest:hover {
  background-color: #e60023;
  border-color: #e60023;
}
.social-btn-pintrest:hover * {
  color: azure;
}
.social-btn-linkedin:hover {
  background-color: #0077b5;
  border-color: #0077b5;
}
.social-btn-linkedin:hover * {
  color: azure;
}
.social-btn-telegram:hover {
  background-color: #0088cc;
  border-color: #0088cc;
}
.social-btn-telegram:hover * {
  color: azure;
}

.newsletter-form {
  height: 44px;
}
.newsletter-form-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  height: 100%;
  background-color: transparent;
}
.newsletter-form-input:focus {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0 !important;
}

footer * {
  color: azure;
}
footer p,
footer i,
footer li a,
footer span {
  color: rgba(240, 255, 255, 0.7) !important;
}
footer li a:hover {
  color: azure !important;
}
footer a {
  font-weight: 500;
  color: azure !important;
}
footer a:hover {
  color: rgba(240, 255, 255, 0.7) !important;
}
footer .footer-logo * {
  fill: azure;
}

@media (max-width: 991px) {
  nav img {
    width: 50% !important;
  }
  nav .fa-cart-shopping {
    font-size: 20px;
  }
  header .header-slider {
    height: 80vh;
    padding: 10px 50px !important;
  }
  header .header-slider-item {
    width: 100%;
    height: 80vh !important;
  }
}/*# sourceMappingURL=main.css.map */