// ---------[vars]---------
$colorAlpha: #83b735;
$colorAlpha-hover: #83b73500;
$colorAlpha-darker: #438e44;

$colorLight: azure;
$colorLight-hover: rgba(240, 255, 255, 0.7);

$colorDark: Black;
$colorDark-hover-s: rgba(0, 0, 0, 0.8);
$colorDark-hover: rgba(0, 0, 0, 0.5);
$colorDark-hover-x: rgba(0, 0, 0, 0.2);


// ---------[mixin]---------
@mixin light-link {
    color: $colorLight;
    &:hover {
        color: $colorLight-hover;
    }
}
@mixin dark-link {
    color: $colorDark;
    &:hover {
        color: $colorDark-hover-s;
    }
}
// -----[usable classes]-----
.flex-centralizer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-starter {
    display: flex;
    justify-content: start;
    align-items: center;
}
.flex-ender {
    display: flex;
    justify-content: end;
    align-items: center;
}
.flex-space {
    display: flex;
    justify-content: space-between;
}
.lhu-link /*list hover underline*/ {
    display: inline-block;

    &::after {
        content: "" !important;
        display: block;
        width: 0;
        height: 2px;
        background: $colorAlpha;
    }
    &:hover {
        &::after {
            width: 100%;
            transition: width 0.3s;
        }
    }
}
// ----------[font]----------
@import url("https://fonts.cdnfonts.com/css/happy-memories");
.font-happy {
    font-family: "Happy Memories", sans-serif !important;
}
