// ---------[vars]---------
$colorAlpha: #83b735;
$colorAlpha-hover: #83b735d2;
$colorAlpha-darker: #438e44;

$colorLight: azure;
$colorLight-hover: rgba(240, 255, 255, 0.7);
$colorLight-hover-x: rgba(240, 255, 255, 0.2);

$colorDark: Black;
$colorDark-hover-s: rgba(0, 0, 0, 0.8);
$colorDark-hover: rgba(0, 0, 0, 0.5);
$colorDark-hover-x: rgba(0, 0, 0, 0.2);
$colorDark-hover-xx: rgba(0, 0, 0, 0.1);

$social-btn-colors: (
    "facebook": #3b5999,
    "twitter": #55acee,
    "pintrest": #e60023,
    "linkedin": #0077b5,
    "telegram": #0088cc
);

$text-sizes: (
    "sssz": 0.1rem,
    "sss": 0.25rem,
    "ss": 0.5rem,
    "s": 0.75rem,
    "m": 1rem,
    "x": 1.25rem,
    "xx": 1.5rem,
    "xxx": 1.75rem
);
// ---------[mixin]---------
@mixin light-link {
    color: $colorLight !important;
    &:hover {
        color: $colorLight-hover !important;
    }
}
@mixin dark-link {
    color: $colorDark;
    &:hover {
        color: $colorDark-hover-s;
    }
}
@mixin dark-link-reverb {
    color: $colorDark-hover-s;
    &:hover {
        color: $colorDark;
    }
}
@mixin abelith-link($color: $colorDark) {
    color: $color;
    &:hover {
        color: $color;
    }
}
@mixin button-reseter {
    background-color: transparent !important;
    padding: 10px 25px !important;
    color: $colorDark !important;
    &:hover{
        background-color: transparent !important;
        color: $colordark;
    }
}
// -----[usable classes]-----
.flex-centralizer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-starter {
    display: flex;
    justify-content: start;
    align-items: center;
}
.flex-ender {
    display: flex;
    justify-content: end;
    align-items: center;
}
.flex-space {
    display: flex;
    justify-content: space-between;
}
.lhu-link /*list hover underline*/ {
    display: inline-block;

    &::after {
        content: "" !important;
        display: block;
        width: 0;
        height: 2px;
        background: $colorAlpha;
    }
    &:hover {
        &::after {
            width: 100%;
            transition: width 0.3s ease-in-out;
        }
    }
}
.sides-lines {
    text-align: center;
    border-bottom: 1px solid $colorDark-hover-xx;
    line-height: 0.1em;
    span {
        background: $colorLight;
        padding: 0 10px !important;
    }
}
// ----------[font]----------
@import url("https://fonts.cdnfonts.com/css/happy-memories");
.font-happy {
    font-family: "Happy Memories", sans-serif !important;
}
@import url("https://fonts.cdnfonts.com/css/iqos");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* ......................................browser........................................... */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: $colorLight-hover-x;
}

::-webkit-scrollbar-thumb {
    background: $colorDark-hover;
    border-radius: 10px;
}

// ::-webkit-scrollbar-thumb:hover {
//     background: ;
// }
/* ......................................classes........................................... */
.non-st /*select text*/ {
    & * {
        user-select: none !important;
    }

    &-single /*none select*/ {
        user-select: none !important;
    }
}
.text-size {
    @each $name, $size in $text-sizes {
        &-#{$name} *{
            font-size: $size !important;
        }
    }
    
}