// -------------------------[navbar]-----------------------------
nav {
    &:first-child {
        * {
            font-size: 12px;
        }
        p {
            color: $colorLight !important;
        }
        a {
            @include light-link;
        }
    }

    img {
        width: 90%;
    }
    button {
        @include button-reseter;
    }
}
// -------------------------[navbar]-----------------------------
// -------------------------[header]-----------------------------
.header {
    &-categories {
        h5 {
            background-color: $colorAlpha;
            width: 100%;
        }
        ul {
            width: 100%;
            li {
                border: 0.1px solid $colorDark-hover-x;
                border-top: 0;
                &:hover {
                    background-color: $colorLight-hover;
                }
                a {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}
.header-slider {
    color: $colorLight;
    height: inherit;
    * {
        user-select: none;
    }

    &-item {
        background-size: cover;
        position: absolute;
        width: 95%;
        right: 0;
        height: 100% !important;
        &-1 {
            background-image: url(../img/slider/slider-1.jpg);
        }
        &-2 {
            background-image: url(../img/slider/slider-2.jpg);
        }
        &-3 {
            background-image: url(../img/slider/slider-3.jpg);
        }
    }
    &-radio {
        position: absolute;
        z-index: 99;
        left: 50%;
        height: 10px !important;
        bottom: 5%;
        accent-color: rgb(255, 255, 255);

        input[type="radio"] {
            height: 20px;
            aspect-ratio: 1;
            padding: 2px !important;
            background: $colorDark-hover no-repeat content-box;
            border-radius: 50%;
            outline-offset: 1px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            transition: 0.5s;
            &:checked,
            &:hover {
                border-color: $colorDark;
                background-color: $colorLight;
                border: 1px solid $colorLight;

                padding: 5px !important;
                background-size: 5% 5%;
            }
        }

        @media print {
            -webkit-appearance: auto;
            -moz-appearance: auto;
            appearance: auto;
            background: none;
        }

        &-item {
        }
    }
    button {
        border-radius: 100px;
    }
}
@keyframes fadeIn {
    0%,
    100% {
        opacity: 0.5;
    }
    20%,
    80% {
        opacity: 1;
    }
}
.header-slider-item {
    display: none;
    animation: fadeIn 2s ease-in-out infinite;
}
.header-slider-item.active {
    display: flex;
    // animation: none;
}
// -----------------------[threeboxes]---------------------------
.threebox {
    user-select: none;

    &:hover .threebox-image-content {
        transform: scale(1.1);
    }
    &-box {
        width: 86%;
    }
    &-image {
        overflow: hidden;
        width: 100%;
        height: 80%;
        &-content {
            object-fit: cover;
        }
    }
    &-content {
        * {
            user-select: none;
        }
        &-event {
            color: $colorAlpha;
            font-size: 0.8rem;
        }
        &-title {
            font-weight: 700;
        }
        &-links {
            border-width: 2px !important;
            border-color: $colorAlpha !important;
            font-weight: 600;
            font-size: 0.8rem;
        }
    }
}
// -----------------------[threeboxes]---------------------------
// ------------------------[warecard]----------------------------
.warecard {
}
// ------------------------[warecard]----------------------------
// -----------------------[categories]---------------------------
.categories {
    position: relative;
    height: 380px;

    &-container {
        position: absolute;
        width: 90%;
        height: inherit;
        overflow: hidden;
    }
    &-banner {
        background-image: url("../img/categories/cat-fashing-dress-4.jpg");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: inherit;
        position: absolute;
    }
    &-title {
        position: absolute;
        width: 100%;
        height: inherit;
        background-color: transparent;

        * {
            @include abelith-link($colorLight);
        }
        &-title {
        }
        &-stock {
            margin-top: 50px !important;
            display: none;
        }
        &:hover {
            background-color: $colorDark-hover;
            .categories-title-stock {
                display: block !important;
                margin-top: 10px !important;
            }
        }
    }

    &:hover .categories-banner {
        transform: scale(1.1);
    }
}
// -----------------------[categories]---------------------------
// -------------------------[reviews]----------------------------
.reviews {
    background-image: url(../img/backgrounds/bg-reviews.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: $colorLight;
    text-align: center;

    h4 {
        font-weight: 700;
        font-size: 2.5rem;
    }
    button {
        background-color: transparent !important;
        position: absolute !important;
        &:hover,
        &:focus {
            background-color: transparent !important;
        }
    }
}
.slick-initialized .slick-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
}
.slick-dots li button:before {
    color: $colorLight-hover !important;
    font-size: 12px !important;
}
.slick-dots li.slick-active button:before {
    color: $colorLight !important;
}
// -------------------------[reviews]----------------------------
// ------------------------[newscard]----------------------------$font-size-base: 16px;
.newsCard {
    height: 340px;
    flex-direction: row;

    &-banner {
        position: relative;
        overflow: hidden;

        &-img {
            height: 100%;
            width: 100%;
            background-image: url(../img/news/blog-fashing-15.jpg);
            background-position: center;
            background-repeat: no-repeat;
        }

        &-mask {
            background-color: $colorDark-hover;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;

            span {
                position: relative;
                font-size: 5vw;
                color: $colorLight-hover;
                left: 40%;
                top: 20%;
            }
        }

        &-date {
            position: absolute;
            background-color: $colorLight;
            text-align: center;

            span {
                font-weight: 600;
                font-size: 0.75rem;
            }
        }

        &:hover {
            .newsCard-banner-mask {
                opacity: 1;
            }
            .newsCard-banner-img {
                transform: scale(1.05);
            }
        }
    }

    &-categories {
        background-color: $colorAlpha;
        padding: 0 10px 2px !important;
        color: $colorLight;
        white-space: nowrap;

        a {
            @include light-link;
            white-space: nowrap;
            font
            
        }
    }

    &-readmore {
        color: $colorAlpha;

        span {
            opacity: 0;
        }

        &:hover {
            color: $colorAlpha-hover;

            span {
                opacity: 1;
            }
        }
    }

    &-author {
        a {
            color: $colorDark-hover-s !important;

            &:hover {
                color: $colorDark !important;
            }
        }
    }

    @media (max-width: 768px) {
        height: auto;
    }
}

// ------------------------[newscard]----------------------------
// ----------------------[social button]-------------------------
.social-btn {
    border-radius: 50%;
    color: $colorDark-hover-xx;
    border: 1px solid $colorDark-hover-x;
    width: 30px;
    height: 30px;

    @each $name, $color in $social-btn-colors {
        &-#{$name}:hover {
            background-color: $color;
            border-color: $color;
            * {
                color: $colorLight;
            }
        }
    }
}
// ----------------------[social button]-------------------------
// -----------------------[newsletter]---------------------------
.newsletter-form {
    height: 44px;
    &-input {
        border: 1px solid $colorDark-hover-x;
        border-radius: 0;
        height: 100%;
        background-color: transparent;
        &:focus {
            border: 1px solid $colorDark-hover-x !important;
            border-radius: 0 !important;
        }
    }
}
// -----------------------[newsletter]---------------------------
// -------------------------[footer]-----------------------------
footer {
    * {
        color: $colorLight;
    }
    p,
    i,
    li a,
    span {
        @extend .text-size-s;
        color: $colorLight-hover !important;
    }
    li a {
        &:hover {
            color: $colorLight !important;
        }
    }
    a {
        font-weight: 500;
        @include light-link;
    }
    .footer-logo {
        * {
            fill: $colorLight;
        }
    }
}
// -------------------------[footer]-----------------------------
@media (max-width: 991px) {
    nav {
        img {
            width: 50% !important;
        }
        .fa-cart-shopping {
            font-size: 20px;
        }
    }
    header {
        .header-slider {
            height: 80vh;
            padding: 10px 50px !important;
            &-item {
                width: 100%;
                height: 80vh !important;
            }
        }
    }
}
