// -------------------------[navbar]-----------------------------
nav {
    &:first-child {
        * {
            font-size: 12px;
        }
        p {
            color: $colorLight !important;
        }
        a {
            @include light-link;
        }
    }
    img {
        width: 60%;
    }
}
// -------------------------[navbar]-----------------------------
// -------------------------[header]-----------------------------
.header {
    &-categories {
        h5 {
            background-color: $colorAlpha;
            width: 100%;
        }
        ul {
            width: 100%;
            li {
                border: 0.1px solid $colorDark-hover-x;
                border-top: 0;
                &:hover {
                    background-color: $colorLight-hover;
                }
                a {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    &-slider {
        color: $colorLight;
        height: inherit;
        * {
            user-select: none;
        }
    
        &-item {
            background-size: cover;
            position: absolute;
            height: 100%;
            width: 95%;
            right: 0;
            &-1 {
                background-image: url(../img/slider/slider-1.jpg);
                opacity: 0;
            }
            &-2 {
                background-image: url(../img/slider/slider-2.jpg);
                opacity: 0;
            }
            &-3 {
                background-image: url(../img/slider/slider-3.jpg);
                opacity: 0;
            }
        }
        &-radio {
            position: absolute;
            z-index: 99;
            left: 50%;
            bottom: 5%;
            accent-color: rgb(255, 255, 255);

            &-item {
            }
        }
        button {
            border-radius: 100px;

        }
    }
}
.active {
    opacity: 1;
}
