// ---------[resets]---------
* {
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.3s;
  font-family: "Lato", sans-serif;
  &[title] {
    background-color: $colorDark;
  }
}
body {
  background-color: red;
}
a {
  text-decoration: none;
  @include dark-link;
  font-weight: 500;
  &:hover {
    text-decoration: none;
  }
}
ul {
  list-style: none !important;
  display: block;
}
button {
  background-color: $colorAlpha !important;
  padding: 10px 25px !important;
  border: 0 !important;
  color: $colorLight !important;
  &:hover {
    background-color: $colorAlpha-hover !important;
  }
}
strong {
  color: $colorAlpha;
}
input,
textarea {
  border: 1px solid $colorDark-hover-x;
  border-radius: 0;
  background-color: transparent;
  &:focus {
    border: 1px solid $colorDark-hover-x !important;
    border-radius: 0 !important;
  }
}
input[type="range"] {
  width: 100%;
  border: 0 !important;
  -webkit-appearance: none;
  cursor: pointer;
  &:focus {
    outline: none;
    cursor: col-resize;
    &::-webkit-slider-runnable-track {
      background: $colorAlpha;
    }
    &::-ms-fill-lower {
      background: $colorAlpha;
    }
    &::-ms-fill-upper {
      background: $colorAlpha;
    }
  }
  &::-webkit-slider-runnable-track {
    background: $colorAlpha;
    width: 100%;
    height: 3px;
  }
  &::-webkit-slider-thumb {
    margin-top: -9px !important;
    width: 5px;
    height: 20px;
    background: $colorAlpha;
    -webkit-appearance: none;
  }
  &::-moz-range-track {
    background: $colorAlpha;
    width: 100%;
    height: 3px;
  }
  &::-moz-range-thumb {
    width: 5px;
    height: 20px;
    background: $colorAlpha;
  }
  &::-ms-track {
    width: 100%;
    height: 3px;
  }
  &::-ms-fill-lower {
    background: $colorAlpha;
  }
  &::-ms-fill-upper {
    background: $colorAlpha;
  }
  &::-ms-thumb {
    width: 5px;
    height: 20px;
    background: $colorAlpha;
    margin-top: 0px;
  }
}
p,
li {
  font-size: 15px;
  color: $colorDark-hover;
}
.bg {
  &-primary {
    background-color: $colorAlpha !important;
  }
  &-dark {
    background-color: $colorDark !important;
  }
  &-muted {
    background-color: $colorDark-hover-xxxx;
  }
}
.text {
  &-primary {
    color: $colorAlpha !important;
  }
  &-muted {
    color: $colorDark-hover !important;
    &-all * {
      color: $colorDark-hover !important;
    }
  }
}
.border {
  &-black {
    border-color: $colorDark-hover-xx !important;
  }
  &-light {
    border-color: $colorLight-hover-x !important;
  }
  &-primary {
    border-color: $colorAlpha !important;
  }
}
.card {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
}
@for $i from 1 through 6 {
  h#{$i} {
    font-weight: 600 !important;
  }
}