// ---------[resets]---------
* {
    margin: 0 !important;
    padding: 0 !important;
    transition: all 0.3s;
    font-family: "Lato", sans-serif;
}
body {
    background-color: $colorLight;
}
a {
    text-decoration: none;
    @include dark-link;
    font-size: 0.75rem;
    font-weight: 600;
    &:hover {
        text-decoration: none;
    }
}
ul {
    list-style: none !important;
    display: block;
}
button {
    background-color: $colorAlpha !important;
    padding: 10px 25px !important;
    border: 0 !important;
    color: $colorLight !important;
    &:hover {
        background-color: $colorAlpha-hover !important;
    }
}
strong {
    color: $colorAlpha;
}
.bg {
    &-primary {
        background-color: $colorAlpha !important;
    }
    &-dark {
        background-color: $colorDark !important;
    }
}
.text {
    &-primary {
        color: $colorAlpha !important;
    }
}
.border {
    &-black {
        border-color: $colorDark-hover-xx !important;
    }
    &-light {
        border-color: $colorLight-hover-x !important;
    }
}
.card {
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
}
@for $i from 1 through 6 {
    h#{$i} {
        font-weight: 600 !important;
    }
}
