// ---------[resets]---------
* {
    margin: 0 !important;
    padding: 0 !important;
    transition: all 0.3s;
    transition: display 1s linear;
    transition: margin 1s linear;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: $colorLight;
}
a {
    text-decoration: none;
    @include dark-link;
    font-size: 0.75rem;
    font-weight: 700;
    &:hover {
        text-decoration: none;
    }
}
ul {
    list-style: none !important;
    display: block;
}
button {
    background-color: $colorAlpha !important;
    padding: 10px 25px !important;
    border: 0 !important;
    color: $colorLight !important;
    &:hover{
        background-color: $colorAlpha-hover !important;
    }
}
strong {
    color: $colorAlpha;
}
.bg {
    &-primary {
        background-color: $colorAlpha !important;
    }
}
.text {
    &-primary {
        color: $colorAlpha !important;
    }
}
