<section
class="navbar navbar-expand-lg py-1 bg-primary text-color-white navbar-main-first"
>
<div class="container-lg mx-auto justify-content-between d-flex">
  <ul class="d-lg-flex d-none">
    <li class="p-2 border-start border-light">
      <a class="d-flex align-items-center" href="#"
        >ENGLISH <i class="fa-thin fa-chevron-down ms-1"></i
      ></a>
    </li>
    <li class="p-2 border-start border-light">
      <a class="d-flex align-items-center" href="#"
        >COUNTRY <i class="fa-thin fa-chevron-down ms-1"></i
      ></a>
    </li>
    <li class="d-inline p-2 border-start border-light">
      <b class="d-inline weight"
        >FREE SHIPPING FOR ALL ORDERS OF $150</b
      >
    </li>
  </ul>
  <ul class="mx-auto d-lg-none d-flex py-2">
    <li class="d-inline p-1 text-size-m">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
    </li>
    <li class="d-inline p-1 text-size-m">
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </li>
    <li class="d-inline p-1 text-size-m">
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    </li>
    <li class="d-inline p-1 text-size-m">
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </li>
    <li class="d-inline p-1 text-size-m">
      <a href="#"><i class="fa-brands fa-pinterest"></i></a>
    </li>
  </ul>
  <ul class="d-lg-flex d-none">
    <li class="d-inline p-2 border-end border-light">
      <ul>
        <li class="d-inline p-1">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li class="d-inline p-1">
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li class="d-inline p-1">
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="d-inline p-1">
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </li>
        <li class="d-inline p-1">
          <a href="#"><i class="fa-brands fa-pinterest"></i></a>
        </li>
      </ul>
    </li>
    <li class="d-inline p-2 border-end border-light">
      <a href="#"
        ><i class="fa-regular fa-envelope me-1"></i> NEWLETTER</a
      >
    </li>
    <li class="d-inline p-2 border-end border-light">
      <a href="#">CONTACT US</a>
    </li>
    <li class="d-inline p-2 border-end border-light">
      <a href="#">FAQS</a>
    </li>
  </ul>
</div>
</section>
<section
class="navbar navbar-expand-lg navbar-light px-3 navbar-main-second p-0"
>
<div class="container-lg mx-auto row d-flex justify-content-between">
  <div class="col-1 d-lg-none d-flex">
    <button class="w-100 reest text-color-black" id="hamburMenu">
      <span class="me-1"
        ><i class="fa fa-bars d-inline me-1"></i>MENU<span> </span
      ></span>
    </button>
  </div>
  <div class="py-3 col-lg-3 col-10 flex-centralizer">
    <a
      class="d-flex justify-content-lg-start justify-content-center"
      href="/index.html"
    >
      <img alt="logo" class="img-fluid" src="/img/wood-logo-dark.svg" />
    </a>
  </div>
  <div class="col-1 d-lg-none d-flex justify-content-end">
    <a href="#"><i class="fa-light fa-cart-shopping"></i></a>
  </div>
  <ul
    class="d-lg-flex d-none col-6 mx-auto flex-centralizer list-hover-underline"
  >
    <li class="p-2 border-end border-light">
      <a class="navBar-item" data-navtab="Home" href="#">HOME </a>
    </li>
    <li class="p-2 border-end border-light">
      <a class="navBar-item" data-navtab="Shop" href="#">SHOP </a>
    </li>
    <li class="p-2 border-end border-light">
      <a class="navBar-item" data-navtab="Blog" href="#">BLOG </a>
      <div
        class="navBar-window navBar-submenu position-absolute py-4 pe-1 ps-5 mt-3 row d-none justify-content-between"
      >
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
      </div>
    </li>
    <li class="p-2 border-end border-light">
      <a class="navBar-item" data-navtab="Pages" href="#">PAGES </a>
      <div
        class="navBar-window navBar-submenu position-absolute py-4 pe-1 ps-5 mt-3 row justify-content-between"
      >
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
      </div>
    </li>
    <li class="p-2 border-end border-light">
      <a class="navBar-item" data-navtab="Elements" href="#"
        >ELEMENTS
      </a>
      <div
        class="navBar-window navBar-submenu position-absolute py-4 pe-1 ps-5 mt-3 row justify-content-between"
      >
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
        <ul class="col-3">
          <h6>Demo Title</h6>
          <li class="mt-3"><a href="#">Nothing Item #1</a></li>
          <li class="mt-2"><a href="#">Nothing Item #2</a></li>
          <li class="mt-2"><a href="#">Nothing Item #3</a></li>
          <li class="mt-2"><a href="#">Nothing Item #4</a></li>
          <li class="mt-2"><a href="#">Nothing Item #5</a></li>
          <li class="mt-2"><a href="#">Nothing Item #6</a></li>
          <li class="mt-2"><a href="#">Nothing Item #7</a></li>
          <li class="mt-2"><a href="#">Nothing Item #8</a></li>
          <li class="mt-2"><a href="#">Nothing Item #9</a></li>
          <li class="mt-2"><a href="#">Nothing Item #10</a></li>
          <li class="mt-2"><a href="#">Nothing Item #11</a></li>
          <li class="mt-2"><a href="#">Nothing Item #12</a></li>
        </ul>
      </div>
    </li>
    <li class="p-2 border-end border-light">
      <a class="navBar-item" data-navtab="Buy" href="#">BUY</a>
    </li>
  </ul>
  <ul class="d-lg-flex d-none col-3 flex-ender">
    <li class="d-inline p-1 border-end border-light">
      <a href="#">LOGIN/REGISTER</a>
    </li>
    <li class="d-inline p-1 border-end border-light">
      <a href="#"
        ><i class="fa-sharp fa-light fa-magnifying-glass"></i
      ></a>
    </li>
    <li class="d-inline p-1 border-end border-light">
      <a href="#"><i class="fa-light fa-heart"></i></a>
    </li>
    <li class="d-inline p-1 border-end border-light">
      <a href="#"
        ><i class="fa-light fa-cart-shopping"><span> $0.00</span></i></a
      >
    </li>
  </ul>
</div>
</section>
<menu class="d-flex justify-content-center position-absolute w-100">
<div
  class="navBar-window p-5 row w-100 justify-content-between"
  id="navWinHome"
>
  <div class="col-3">
    <a href="#"
      ><img
        alt="project"
        class="img-fluid shadow-lg"
        src="/img/project.jpg"
      />
      <p class="text-center text-dark mt-2 fs-6">Battlefront II</p></a
    >
  </div>
  <div class="col-3">
    <a href="#"
      ><img
        alt="project"
        class="img-fluid shadow-lg"
        src="/img/project.jpg"
      />
      <p class="text-center text-dark mt-2 fs-6">Battlefront II</p></a
    >
  </div>
  <div class="col-3">
    <a href="#"
      ><img
        alt="project"
        class="img-fluid shadow-lg"
        src="/img/project.jpg"
      />
      <p class="text-center text-dark mt-2 fs-6">Battlefront II</p></a
    >
  </div>
  <div class="col-3">
    <a href="#"
      ><img
        alt="project"
        class="img-fluid shadow-lg"
        src="/img/project.jpg"
      />
      <p class="text-center text-dark mt-2 fs-6">Battlefront II</p></a
    >
  </div>
  <div class="col-3 mt-5">
    <a href="#"
      ><img
        alt="project"
        class="img-fluid shadow-lg"
        src="/img/project.jpg"
      />
      <p class="text-center text-dark mt-2 fs-6">Battlefront II</p></a
    >
  </div>
  <div class="col-3 mt-5">
    <a href="#"
      ><img
        alt="project"
        class="img-fluid shadow-lg"
        src="/img/project.jpg"
      />
      <p class="text-center text-dark mt-2 fs-6">Battlefront II</p></a
    >
  </div>
  <div class="col-3 mt-5">
    <a href="#"
      ><img
        alt="project"
        class="img-fluid shadow-lg"
        src="/img/project.jpg"
      />
      <p class="text-center text-dark mt-2 fs-6">Battlefront II</p></a
    >
  </div>
  <div class="col-3 mt-5">
    <a href="#"
      ><img
        alt="project"
        class="img-fluid shadow-lg"
        src="/img/project.jpg"
      />
      <p class="text-center text-dark mt-2 fs-6">Battlefront II</p></a
    >
  </div>
  <div class="col-12 mt-3 text-center">
    <button>View all Demos (38)</button>
  </div>
</div>
<div
  class="navBar-window row w-100 mx-5 justify-content-between"
  id="navWinShop"
>
  <div class="col-3 bg-primary h-100 pb-3">
    <ul class="w-100 navBar-shop">
      <li class="w-100">
        <a class="w-100 p-3 fs-5 d-block text-light" href="#"
          >Shop Pages<i
            class="fa-regular fa-chevron-right end-0 position-absolute mt-2 me-3"
          ></i
        ></a>
      </li>
      <li class="w-100">
        <a class="w-100 p-3 fs-5 d-block text-light" href="#"
          >Product Loop<i
            class="fa-regular fa-chevron-right end-0 position-absolute mt-2 me-3"
          ></i
        ></a>
      </li>
      <li class="w-100">
        <a class="w-100 p-3 fs-5 d-block text-light" href="#"
          >Single Product<i
            class="fa-regular fa-chevron-right end-0 position-absolute mt-2 me-3"
          ></i
        ></a>
      </li>
      <li class="w-100">
        <a class="w-100 p-3 fs-5 d-block text-light" href="#"
          >Features<i
            class="fa-regular fa-chevron-right end-0 position-absolute mt-2 me-3"
          ></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="col-9 ps-4 row">
    <ul class="col-4 py-3">
      <h6><a href="#">HOVER DESIGN</a></h6>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #1</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #2</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #3</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #4</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #5</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #6</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #7</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #8</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #9</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #10</a>
      </li>
    </ul>
    <ul class="col-4 py-3">
      <h6><a href="#">HOVER DESIGN</a></h6>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #1</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #2</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #3</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #4</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #5</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #6</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #7</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #8</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #9</a>
      </li>
      <li class="mt-3">
        <a class="text-muted" href="#">Costum item #10</a>
      </li>
    </ul>
    <div
      class="bg-muted col-4 h-100 flex-centralizer flex-column text-center"
    >
      <img
        alt="idonno"
        class="img-fluid"
        src="/img/advanced-variable.webp"
      />
      <h5 class="mx-1">Advanced Variable products with swatches</h5>
      <p class="w-75 my-3">
        Advanced Variable products with swatches porttitor scelerisque
      </p>
      <button class="rounded-pill">VIEW MORE</button>
    </div>
  </div>
</div>
</menu>