<div class="col-lg-3 p-5 ps-0 d-lg-block d-none">
  <ul class="overview-categories pe-2">
    <h6>PRODUCT CATEGORIES</h6>
    <li class="mt-3">
      <a
        class="d-block w-100 position-relative"
        href="/pages/overviews/furniture"
        >Accessories
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-3">
      <a class="d-block w-100 position-relative" href="/pages/overviews/cooking"
        >Clocks
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-3">
      <a
        class="d-block w-100 position-relative"
        href="/pages/overviews/accessories"
        >Cooking
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-3">
      <a class="d-block w-100 position-relative" href="/pages/overviews/fashion"
        >Furnitures
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-3">
      <a
        class="d-block w-100 position-relative"
        href="/pages/overviews/lighting"
        >Lighting
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-3">
      <a class="d-block w-100 position-relative" href="/pages/overviews/toys"
        >Toys
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-3">
      <a
        class="d-block w-100 position-relative"
        href="/pages/overviews/handmade"
        >Hand Made
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-3">
      <a
        class="d-block w-100 position-relative"
        href="/pages/overviews/minimalism"
        >Minimalism
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-3">
      <a
        class="d-block w-100 position-relative"
        href="/pages/overviews/electronics"
        >Electronics
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-3">
      <a class="d-block w-100 position-relative" href="/pages/overviews/cars"
        >Cars
        <span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
  </ul>
  <hr class="my-4" />
  <h6>FILTER BY PRICE</h6>
  <form action="#" class="my-3" method="get">
    <input class="w-100" type="range" />
    <p class="d-flex my-4 align-items-center">
      Price :  <span class="text-dark"
        >$<span id="minPrice">40</span> - $<span id="maxPrice">800</span></span
      ><button class="btn-omega ml-auto p-2" type="submit">FILTER</button>
    </p>
  </form>
  <hr class="my-4" />
  <ul class="overview-colors pe-2">
    <h6>PRODUCT CATEGORIES</h6>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-silver"></span>silver<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-gray"></span>gray<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-black"></span>black<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-red"></span>red<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-maroon"></span>maroon<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-yellow"></span>yellow<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-olive"></span>olive<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-lime"></span>lime<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-green"></span>green<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-aqua"></span>aqua<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-teal"></span>teal<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-blue"></span>blue<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-navy"></span>navy<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-fuchsia"></span
        >fuchsia<span class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span class="me-1 rounded-circle prod-color-purple"></span>purple<span
          class="px-1 rounded-pill position-absolute end-0"
          >80</span
        ></a
      >
    </li>
  </ul>
  <hr class="my-4" />
  <ul class="overview-sizes pe-2">
    <h6>FILTER BY SIZE</h6>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span>M</span
        ><span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span>L</span
        ><span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
    <li class="mt-4">
      <a class="d-block w-100 position-relative" href="#"
        ><span>XL</span
        ><span class="px-1 rounded-pill position-absolute end-0">80</span></a
      >
    </li>
  </ul>
  <hr class="my-4" />
  <h6>FILTER BY BRAND</h6>
  <label
    class="overview-search-input position-relative d-flex align-items-center mt-3 mb-2"
    for="brandFilter"
  >
    <input
      class="w-100 p-5"
      id="brandFilter"
      placeholder="Find a Brand"
      type="text"
    />
    <i class="fal fa-search position-absolute end-0 pe-2"></i>
  </label>
  <div class="overview-search-arena row">
    <div class="col-6 mt-1">
      <img alt="brand" class="img-fluid w-50" src="/img/brand-alessi.png" />
    </div>
    <div class="col-6 mt-1">
      <img alt="brand" class="img-fluid w-50" src="/img/brand-Eva-Solo.png" />
    </div>
    <div class="col-6 mt-1">
      <img alt="brand" class="img-fluid w-50" src="/img/brand-PackIt.png" />
    </div>
    <div class="col-6 mt-1">
      <img
        alt="brand"
        class="img-fluid w-50"
        src="/img/brand-Rosenthal-blog.png"
      />
    </div>
    <div class="col-6 mt-1">
      <img alt="brand" class="img-fluid w-50" src="/img/brand-witra.png" />
    </div>
  </div>
  <hr class="my-4" />
  <h6>PRODUCT STATUS</h6>
  <label class="d-block position-relative mt-3 overview-status-wrapper"
    >On sale
    <input
      class="overview-status"
      id="onSaleCheck"
      name="sale"
      type="checkbox"
    />
    <span class="overview-status-check"></span>
  </label>
  <label class="d-block position-relative mt-1 overview-status-wrapper"
    >In stock
    <input
      class="overview-status"
      id="inStockCheck"
      name="stock"
      type="checkbox"
    />
    <span class="overview-status-check"></span>
  </label>
  <hr class="my-4" />
  <h6>TOP RATED PRODUCTS</h6>
  <article class="row border-bottom">
    <div class="col-5">
      <img
        alt="product"
        class="img-fluid pe-2"
        src="/img/product/product-2-430x491.jpg"
      />
    </div>
    <div class="col-7 d-flex flex-column justify-content-between py-4">
      <a href="#">Geometric chair</a>
      <p class="text-color-mustart">
        <i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i>
      </p>
      <strong>$700.00</strong>
    </div>
  </article>
  <article class="row border-bottom">
    <div class="col-5">
      <img
        alt="product"
        class="img-fluid pe-2"
        src="/img/product/product-3-430x491.jpg"
      />
    </div>
    <div class="col-7 d-flex flex-column justify-content-between py-4">
      <a href="#">Geometric chair</a>
      <p class="text-color-mustart">
        <i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i>
      </p>
      <div class="row">
        <div class="col-6"><del class="text-muted">$200.00</del></div>
        <div class="col-6"><strong>$700.00</strong></div>
      </div>
    </div>
  </article>
  <article class="row border-bottom">
    <div class="col-5">
      <img
        alt="product"
        class="img-fluid pe-2"
        src="/img/product/product-furniture-9-2-430x491.jpg"
      />
    </div>
    <div class="col-7 d-flex flex-column justify-content-between py-4">
      <a href="#">Geometric chair</a>
      <p class="text-color-mustart">
        <i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i
        ><i class="fa-sharp fa-solid fa-star"></i>
      </p>
      <strong>$700.00</strong>
    </div>
  </article>
</div>